.contactItemWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.contactItemInfo {
  width: 160px;
  text-align: center;
  font-weight: 500;
  margin: 0px;
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.contactBtnDelete {
  padding: 6px;
  border: 1px solid #213547;
  border-radius: 4px;
}
